@using System.Linq
@using Microsoft.AspNetCore.Identity
@model DocumentProcessing.ViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-offset-3 col-md-4" style="padding-left: 60px; padding-right: 60px;">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4 class="heading">Дохилшавӣ.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input class="form-control" placeholder="Номи истифодабаранда" asp-for="UserName">
                    <i class="fa fa-user"></i>
                    @*<label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Рамзи махфи" asp-for="Password">
                    <i class="fa fa-lock"></i>
                    @* <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    @*<div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>*@
                    <div class="main-checkbox">
                        <input type="checkbox" value="none" id="checkbox1" name="check" asp-for="RememberMe" />
                        <label for="checkbox1"></label>
                    </div>
                    <span class="text">@Html.DisplayNameFor(m => m.RememberMe)</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Даромад</button>
                </div>

            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>
<style>
    /* Form Style */
    .form-horizontal {
        background: #fff;
        padding-bottom: 40px;
        border-radius: 15px;
        text-align: center;
    }

        .form-horizontal .heading {
            display: block;
            font-size: 35px;
            font-weight: 700;
            padding: 35px 0;
            border-bottom: 1px solid #f0f0f0;
            margin-bottom: 30px;
        }

        .form-horizontal .form-group {
            padding: 0 40px;
            margin: 0 0 25px 0;
            position: relative;
        }

        .form-horizontal .form-control {
            background: #f0f0f0;
            border: none;
            border-radius: 20px;
            box-shadow: none;
            padding: 0 20px 0 45px;
            height: 40px;
            transition: all 0.3s ease 0s;
        }

            .form-horizontal .form-control:focus {
                background: #e0e0e0;
                box-shadow: none;
                outline: 0 none;
            }

        .form-horizontal .form-group i {
            position: absolute;
            top: 12px;
            left: 60px;
            font-size: 17px;
            color: #c8c8c8;
            transition: all 0.5s ease 0s;
        }

        .form-horizontal .form-control:focus + i {
            color: #00b4ef;
        }

        .form-horizontal .fa-question-circle {
            display: inline-block;
            position: absolute;
            top: 12px;
            right: 60px;
            font-size: 20px;
            color: #808080;
            transition: all 0.5s ease 0s;
        }

            .form-horizontal .fa-question-circle:hover {
                color: #000;
            }

        .form-horizontal .main-checkbox {
            float: left;
            width: 20px;
            height: 20px;
            background: #11a3fc;
            border-radius: 50%;
            position: relative;
            margin: 5px 0 0 5px;
            border: 1px solid #11a3fc;
        }

            .form-horizontal .main-checkbox label {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
            }

                .form-horizontal .main-checkbox label:after {
                    content: "";
                    width: 10px;
                    height: 5px;
                    position: absolute;
                    top: 5px;
                    left: 4px;
                    border: 3px solid #fff;
                    border-top: none;
                    border-right: none;
                    background: transparent;
                    opacity: 0;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

            .form-horizontal .main-checkbox input[type=checkbox] {
                visibility: hidden;
            }

                .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
                    opacity: 1;
                }

        .form-horizontal .text {
            float: left;
            margin-left: 7px;
            line-height: 20px;
            padding-top: 5px;
            text-transform: capitalize;
        }

        .form-horizontal .btn {
            float: right;
            font-size: 14px;
            color: #fff;
            background: #00b4ef;
            border-radius: 30px;
            padding: 10px 25px;
            border: none;
            text-transform: capitalize;
            transition: all 0.5s ease 0s;
        }
</style>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}