@{
    ViewData["Title"] = "Асосӣ";
}

<div class="text-center">
    <h2 class="display-4">Сарраёсати консулии Вазорати корҳои ҳориҷии Ҷумҳурии Тоҷикистон</h2>
    <img src="~/Emblem_of_Tajikistan.svg" class="img-fluid" style="width: 20%">
</div>