.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.tallon {
    border: 1px solid gray;
    margin: 0 10px;
    text-align: right;
}
tr td:first-child {
    font-weight: bold;
}
td, th {
    border: none;
    padding: 6px;
    font-size: 15px;
    text-align: left;
}
.img-stump {
    margin: 15px;
}